.plans
  +drop-shadow(0px)
  float: left
  font-family: helvetica, verdana, arial
  font-size: 14px
  color: $light-gray-color
  height: 440px
  overflow: hidden
  border: 6px solid white
  width: 240px
  background-color: $plan-background
  padding: 15px
  margin-top: 30px
  p
    padding: 6px 0
  h1
    color: $orange-color
  .price
    color: $blue-color
  b
    color: $gray-color
  ul
    padding-left: 25px
    list-style-image: url('images/checkmark.png')
  li
    background-repeat: no-repeat
    padding-bottom: 10px
    margin-top: -5px
    line-height: 1.75

.toll-free
  position: absolute
  color: black
  left: 450px
  top: 35px
  font-size: 16px

.template_selection
  margin-top: 30px

.page_selector
  cursor: hand
  font-size: 15px
  background: url(/images/icons/closed_arrow.png) no-repeat
  padding-left: 20px
  &:hover
    text-decoration: underline

#page-select
  margin-bottom: 30px
.page_selector.selected
  background: url(/images/icons/open_arrow.png) no-repeat
  padding-left: 20px
  text-decoration: underline
  color: $orange-color
    
.create-hipscan-today
  color: $orange-color
  font-weight: bold
  font-size: 18px
  margin-top: 35px
  img
    display: block
    margin-left: 140px
    margin-top: 10px
  .signup-button
    display: inline
    padding: 10px
    a
      color: white

.packages
  +top-drop-shadow
  border-top: 1px solid white
  height: 100px
  margin-top: 40px
  margin-left: -20px
  padding-top: 20px
  height: 230px
  td
    padding: 0 20px
    position: relative
  b
    font-weight: bold
  .plan
    float: left
    width: 45%
    padding: 30px 20px 0 20px
    position: relative
    h2
      font-size: 18px
      font-weight: 100
      padding-top: 14px
    a
      text-align: right
      font-weight: bold
    .icons
      float: left
      margin-right: 15px
    .content
      p
        margin-bottom: 0
        padding-top: 11px
  .price-sticker
    position: absolute
    top: 0px
    right: 0px
  
.left-side
  .signup-button
    margin-top: 48px
.right-side 
  margin-left: 330px
  font-size: 95%
.middle-side
  
.featured
  position: absolute
  background-color: $featured-background
  width: 300px
  height: 500px
  left: 50%
  margin-left: -184px 
  top: 125px
  .signup-button
    margin-top: 57px
  .popular
    display: block
    position: absolute
    background-image: url("images/popular.png")
    height: 119px
    width: 119px
    right: 0px
    top: 0px
    
.anytime
  font-family: Georgia, "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial
  font-size: 16px
  color: $bright-blue-color
  text-align: center
  padding-top: 45px

#template_editor
  margin-top: 30px
  
.template_select
  margin-top: 20px
  margin-bottom: 30px
  img 
    +picture-drop-shadow
    border: 4px solid white
    margin-right: 52px
  input
    margin-left: 20px
  
#loading-preview
  margin-bottom: -25px
  margin-left: 10px

#edit-template
  input[type=text], input[type=file], textarea
    +rounded-corners
    width: 430px
    padding: 10px 20px
    font-size: 20px
    
.preview-template
  iframe
    +picture-drop-shadow
    width: 380px
    height: 430px