%hr

%p
  This email was sent to you regarding your #{hipscan} account by #{hipscan}, 1370 Willow Road, 2nd Floor, Menlo Park, CA 94025.
  To unsubscribe from #{hipscan} emails, #{link_to 'click here', unsubscribe_url}
