%hr

%p
  This email was sent to you regarding your <span class='hipscan'>Hipscan#{append}</span> account by <span class='hipscan'>Hipscan#{append}</span>, 1370 Willow Road, 2nd Floor, Menlo Park, CA 94025.
  To unsubscribe from <span class='hipscan'>Hipscan#{append}</span> emails, #{link_to 'click here', unsubscribe_url}
