Here it is! 

The following is a vcard that you downloaded on your iPhone/iPad. Hipscan Profiles act as digital business cards that help you keep tabs on your contacts and store them in your phone for use. The world of QR is exciting, and as the expert in this space, Hipscan, will always keep you ahead of the technology curve.

Enjoy!

Hipscan Team