Hi #{@user.username},

Welcome to Hipscan(http://hipscan.com)! Ready to connect the real world to your digital identity?

Great.  Hipscan aims to merge the two worlds and have a great time doing it!

Use your Hipscan to connect with friends.  Use your Hipscan to advertise a product/service.  Use your Hipscan to connect all of your online media.  Hipscan helps you tie all things digital – together!

And one more thing – put your Hipscan on everything you do – on your business card, on your email signature – a Hipscan even makes a cool piece of clothing!  Visit the Hipscan store(http://hipscan.socialprintshop.com) to see all that you can order.

Also make sure to connect your Twitter™, Facebook™, LinkedIn™, and socialpda™ accounts for a quick way to get your friends in on the action.  You can even add other sites you love to your profile!

We're really excited about Hipscan and we're sure you will be too. Drop us a line and let us know how you are using your hipscan – myhipscan@hipscan.com

Have fun out there.

The Hipscan Team

This email was sent to you regarding your Hipscan account by Hipscan, 1370 Willow Road, 2nd Floor, Menlo Park, CA 94025.
