- @template.each_key do |field|
  - if field_type(field) == :page_content
    .page_template{:style => 'display:none;', :id => underscore(@template[field][:field_name])}
      %h1== #{@template[field][:field_name]} page
      %h3 Customize the information below
      - if @template[field][:content].present?
        - if @template[field][:field_ordering].present? and @template[field][:field_ordering]
          - @template[field][:content].to_a.sort_by{|x| x.last[:order]}.each do |page_field|
            = render :partial => "field_content", :locals => {:field => field, :page_field => page_field.first }
        - else
          - @template[field][:content].each_key do |page_field|
            = render :partial => "field_content", :locals => {:field => field, :page_field => page_field }