#main
  #header1
    %a{:href => "index.html"}
      %img{:alt => "", :height => "57", :src => "images/logo.png", :width => "218"}/
  #content1
    .title-outer
      .title Sample Agent Detail Page
    .center
      %img{:alt => "", :src => "images/header-im.jpg"}/
    %h1 Adam Wong
    %p residential sales agent
    %p
      %a{:href => "mailto:adamwong@mcgrath.com.au"}
        %span> e
        adamwongmcgrath.com.au
    %p
      %a{:href => "tel:02-9908-6052"}
        %span> t
        02 9908 6052
    %p
      %a{:href => "tel:0403-315-349"}
        %span> m
        0403 315 349
    %h2
      %a{:href => "#"} Download agent details
    %p
      %span - specialty areas
    %p
      %span>
      Artarmon
    %p
      %span>
      Chatswood
    %p
      %span>
      Willoughby
    %p
      %span office
      Northbridge, Sydney Metropolitan
  #footer
    .previous.flot-left{:style => "width:40%;"}
      %a{:href => "#"} Previous
    .buttons.flot-right{:style => "width:40%"}
      %a{:href => "#"} Next
    .clear
