#main
  #header1
    %a{:href => "index.html"}
      %img{:alt => "", :height => "57", :src => "images/logo.png", :width => "218"}/
  #content1
    .title-outer
      .title Sample Listing Page
    .round-box
      .titlebar
        .right $2,500
        31 Wheaton Road
      .img-box
        .left-img
          %img{:alt => "", :height => "93", :src => "images/img.jpg", :width => "93"}/
        .right-text
          %h3 Washington Depot CT
          %p - 1.5 Bath, 2 Bed
          %p - Building Size: 1564 SQ. Feet
          %p - Litchfield Hills
          %p - Sotheby's International Realty
        .clear
    .round-box
      .titlebar
        .right $2,500
        31 Wheaton Road
      .img-box
        .left-img
          %img{:alt => "", :height => "93", :src => "images/img.jpg", :width => "93"}/
        .right-text
          %h3 Washington Depot CT
          %p - 1.5 Bath, 2 Bed
          %p - Building Size: 1564 SQ. Feet
          %p - Litchfield Hills
          %p - Sotheby's International Realty
        .clear
  #footer
    .previous.flot-left{:style => "width:40%;"}
      %a{:href => "#"} Previous
    .buttons.flot-right{:style => "width:40%"}
      %a{:href => "#"} Next
    .clear
