#main
  #header1
    %a{:href => "index.html"}
      %img{:alt => "", :height => "57", :src => "images/logo.png", :width => "218"}/
  #content1
    .title-outer1
      .title
        Now You Know Whats
        %br/
        Possible! Contact A Hipscan
        %br/
        Representative And Get Your
        %br/
        Personalized Site Up &amp;
        %br/
        Running!
    .h1
      .img
        %a{:href => "tel:1-855-438-4477"}
          %img{:align => "left", :alt => "", :src => "images/phone-icon.png"}/
      %a{:href => "tel:1-855-438-4477"} 1-855-438-4477
    .h1
      .img
        %a{:href => "mailto:marketing@hipscan.com"}
          %img{:align => "left", :alt => "", :src => "images/mail-icon.png"}/
      %a{:href => "mailto:marketing@hipscan.com"} marketing@hipscan.com
    .h1
      .img
        %a{:href => "http://www.hipscan.com/"}
          %img{:align => "left", :alt => "", :src => "images/safari.png"}/
      %a{:href => "http://www.hipscan.com/"} www.hipscan.com
  #footer
    .previous.flot-left{:style => "width:40%;"}
      %a{:href => "#"} Previous
    .buttons.flot-right{:style => "width:40%"}
      %a{:href => "#"} Next
    .clear
