/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290@hipscan/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "ArchitectsDaughterRegular";
  src: url("architectsdaughter-webfont.eot");
  src: url("architectsdaughter-webfont.eot?#iefix") format("embedded-opentype"), url("architectsdaughter-webfont.woff") format("woff"), url("architectsdaughter-webfont.ttf") format("truetype"), url("architectsdaughter-webfont.svg#ArchitectsDaughterRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 30, ../../app/stylesheets/partials/_mobile.sass */
html {
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif, Arial black;
  color: #cccccc;
}

/* line 39, ../../app/stylesheets/partials/_mobile.sass */
body {
  position: relative;
  width: 100%;
  background-color: #cccccc;
}

/* line 44, ../../app/stylesheets/partials/_mobile.sass */
#hipscan_layout {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  width: 100%;
  margin: 0 auto;
}
/* line 48, ../../app/stylesheets/partials/_mobile.sass */
#hipscan_layout content {
  padding: 130px 0 10px 0px;
}

/* line 51, ../../app/stylesheets/partials/_mobile.sass */
#content {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1d1d1), color-stop(10%, #f8f8f8), color-stop(80%, #ececec));
  background-image: -webkit-linear-gradient(#d1d1d1, #f8f8f8 10%, #ececec 80%);
  background-image: -moz-linear-gradient(#d1d1d1, #f8f8f8 10%, #ececec 80%);
  background-image: -o-linear-gradient(#d1d1d1, #f8f8f8 10%, #ececec 80%);
  background-image: -ms-linear-gradient(#d1d1d1, #f8f8f8 10%, #ececec 80%);
  background-image: linear-gradient(#d1d1d1, #f8f8f8 10%, #ececec 80%);
  padding: 130px 0 10px 0px;
  min-height: 320px;
  margin: 0;
  background-color: #f5f5f5;
}
/* line 58, ../../app/stylesheets/partials/_mobile.sass */
#content a {
  text-decoration: none;
}

/* line 61, ../../app/stylesheets/partials/_mobile.sass */
#myhipscan {
  width: 100%;
  margin: 0 auto;
  word-wrap: break-word;
  text-align: center;
}

/* line 67, ../../app/stylesheets/partials/_mobile.sass */
.profile_links {
  margin: 0 auto;
  text-align: center;
  width: 210px;
}

/* line 72, ../../app/stylesheets/partials/_mobile.sass */
#profile_display_name, #profile_email, #profile_phone_number, #profile_website {
  font-size: 20px;
  margin: 10px 0;
}

/* line 76, ../../app/stylesheets/partials/_mobile.sass */
.profile_social_link {
  cursor: pointer;
  float: left;
  margin: 10px 20px 10px 0;
}

/* line 81, ../../app/stylesheets/partials/_mobile.sass */
#custom_page {
  width: 95%;
  margin: 0 auto;
}
/* line 84, ../../app/stylesheets/partials/_mobile.sass */
#custom_page img {
  width: 90%;
}

/* line 87, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile {
  color: #12469b;
  margin-top: -140px;
  margin-bottom: -30px;
  padding-bottom: 40px;
  background: url(images/custom-profile-background.png);
}
/* line 89, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile .profile-header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7680f), color-stop(100%, #f4802d));
  background-image: -webkit-linear-gradient(#e7680f, #f4802d);
  background-image: -moz-linear-gradient(#e7680f, #f4802d);
  background-image: -o-linear-gradient(#e7680f, #f4802d);
  background-image: -ms-linear-gradient(#e7680f, #f4802d);
  background-image: linear-gradient(#e7680f, #f4802d);
  height: 30px;
  border-bottom: 1px solid white;
}
/* line 97, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile table {
  margin: 0 auto;
  width: 90%;
}
/* line 100, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile table td:first-child {
  width: 65px;
  font-weight: bold;
  color: #3964a9;
}
/* line 104, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile table td {
  font-size: 120%;
}
/* line 106, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile table td a {
  color: #ec701a;
}
/* line 108, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile #profile_status {
  font-size: 18px;
  font-weight: bold;
  margin: 15px auto;
  color: #666666;
}
/* line 114, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile .profile-box {
  width: 95%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding-top: 40px;
  background-color: white;
  border: 1px solid #c2c2c2;
  margin: 0 auto;
}
/* line 121, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile .profile-photo {
  width: 30%;
  margin-bottom: -80px;
}
/* line 124, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile .profile-photo img {
  -moz-box-shadow: 0 0 20px #999999;
  -webkit-box-shadow: 0 0 20px #999999;
  box-shadow: 0 0 20px #999999;
  padding: 5px;
  background: white;
  width: 100%;
}
/* line 129, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile .profile-display-name, #custom_profile .profile-description {
  margin-left: 50%;
  width: 50%;
}
/* line 132, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile .profile-display-name {
  font-size: 28px;
  font-weight: bold;
}
/* line 135, ../../app/stylesheets/partials/_mobile.sass */
#custom_profile .profile-status {
  margin-bottom: 10px;
  width: 90%;
  margin: 0 auto;
}

/* line 140, ../../app/stylesheets/partials/_mobile.sass */
.profile-photo-on .profile-photo {
  margin: 1em 0 -60px 2em;
  z-index: 100;
}

/* line 145, ../../app/stylesheets/partials/_mobile.sass */
.horizontal-box {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  height: 20px;
  font-weight: bold;
  text-align: left;
  width: 95%;
  margin: 10px auto;
  background-color: #e5e5e5;
  color: #eb7019;
}
/* line 154, ../../app/stylesheets/partials/_mobile.sass */
.horizontal-box .title {
  float: left;
  padding: 2px 0 0 10px;
}
/* line 157, ../../app/stylesheets/partials/_mobile.sass */
.horizontal-box .about, .horizontal-box .social-media, .horizontal-box .contact {
  float: right;
  height: 18px;
  margin-top: 1px;
  margin-right: 1px;
  width: 18px;
  background-size: 100%;
}
/* line 164, ../../app/stylesheets/partials/_mobile.sass */
.horizontal-box .about {
  background: url(images/profile-about.png) no-repeat;
}
/* line 166, ../../app/stylesheets/partials/_mobile.sass */
.horizontal-box .social-media {
  float: right;
  height: 18px;
  width: 18px;
  background-size: 100%;
  background: url(images/profile-social.png) no-repeat;
}
/* line 172, ../../app/stylesheets/partials/_mobile.sass */
.horizontal-box .contact {
  float: right;
  height: 18px;
  width: 18px;
  background-size: 100%;
  background: url(images/profile-contact.png) no-repeat;
}

/* line 178, ../../app/stylesheets/partials/_mobile.sass */
.vcard {
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin: 10px auto;
  width: 200px;
}
/* line 184, ../../app/stylesheets/partials/_mobile.sass */
.vcard .left, .vcard .right, .vcard .middle {
  float: left;
  height: 53px;
}
/* line 187, ../../app/stylesheets/partials/_mobile.sass */
.vcard .left {
  background: url(images/profile-vcard-left.png) no-repeat;
  width: 5px;
}
/* line 190, ../../app/stylesheets/partials/_mobile.sass */
.vcard .middle {
  background: url(images/profile-vcard-middle.png) repeat-x;
  width: 180px;
  font-size: 20px;
  padding-top: 16px;
}
/* line 195, ../../app/stylesheets/partials/_mobile.sass */
.vcard .right {
  width: 9px;
  background: url(images/profile-vcard-right.png) no-repeat;
}

/* line 199, ../../app/stylesheets/partials/_mobile.sass */
#custom_text, #custom_url, #custom_image {
  font-size: 20px;
  border: 2px solid #aaaaaa;
  padding: 20px;
  margin: 20px auto;
  background: #f5f5f5;
  word-wrap: break-word;
  width: 90%;
}
/* line 208, ../../app/stylesheets/partials/_mobile.sass */
#custom_text p, #custom_url p, #custom_image p {
  font-size: 18px;
  color: #333333;
}

/* line 212, ../../app/stylesheets/partials/_mobile.sass */
#profile_photo, #custom_image {
  width: 90%;
  border: 1px solid #888888;
  padding: 15px 15px 12px 15px;
  margin: 10px auto;
  background: white;
}
/* line 219, ../../app/stylesheets/partials/_mobile.sass */
#profile_photo img, #custom_image img {
  width: 100%;
}

/* line 222, ../../app/stylesheets/partials/_mobile.sass */
#custom_image {
  margin: 10px auto;
  padding: 15px 15px 8px 15px;
}

/* line 226, ../../app/stylesheets/partials/_mobile.sass */
.hipscan {
  color: #f36d21;
}
/* line 229, ../../app/stylesheets/partials/_mobile.sass */
.hipscan a {
  text-decoration: none;
  color: #f36d21;
}

/* line 234, ../../app/stylesheets/partials/_mobile.sass */
.cl {
  clear: both;
}

/* line 237, ../../app/stylesheets/partials/_mobile.sass */
.fr {
  float: right;
}

/* line 240, ../../app/stylesheets/partials/_mobile.sass */
.fl {
  float: left;
}

/* line 1, ../../app/stylesheets/partials/_small_mobile.sass */
html {
  width: 320px;
}

/* line 4, ../../app/stylesheets/partials/_small_mobile.sass */
body {
  width: 320px;
}

/* line 7, ../../app/stylesheets/partials/_small_mobile.sass */
#hipscan_layout {
  width: 320px;
}

/* line 11, ../../app/stylesheets/partials/_small_mobile.sass */
#custom_text, #custom_url, #custom_image {
  width: 85%;
}
/* line 14, ../../app/stylesheets/partials/_small_mobile.sass */
#custom_text p, #custom_url p, #custom_image p {
  font-size: 18px;
  color: #333333;
}
