%div
  %h1 Ooops! You've landed on an inactive page.
  %p But we're still glad your here.  Scan the Hipscan to the Left For a Special Treat.
%img{:alt => "QR Code", :src => "images/hipscan_poster.png"}/