.login-page
  %h2 Not Your Ordinary Tech Head
  %p Geek. Nerd. We’ve heard it all and we happen to wear the badge with pride. If you think about it, in the entire history of mankind, there has never been a better time to be in to the stuff that we’re in to.
  %p From the Commodore 64 right on through the iPhone and the explosion of tablet computing, if it’s got tech at the root, it’s got our attention. In a single thought: we’ve never shifted away from technology.
  %p You can apply that same level of passion for tech to our uninhibited interest in bar code scanning and its revolutionary new form&mdash;the QR Code. After all, a QR Code is the realization of a futuristic dream…the ability to take an entire online world and boil it down to a simple, data-laden box.
  %p We’ve been in and around technology our whole lives and that’s certainly a head start. But, our goal is to be the most trusted resource in the QR industry…a virtual buffet of information and capability for everyone from the QR newbie to the connoisseurs…so you better believe we’re invested up to the neck.
  %p Invest some time with us…and let’s see what we can do when we put our heads together.
  %br/
  %h2
    What is
    %span.hipscan Hipscan
  %p
    A
    %span.hipscan Hipscan
    sends mobile devices to your website, social profile, or anything else online. The best part is that you can change it any time you want!
  %p
    Typically when you create a Qr code, the URL or data returned when it is scanned with a mobile device is fixed within the actual barcode image.
    %span.hipscan Hipscan
    creates a unique link and allows you to edit the information that is returned when someone scans the barcode. This means you can create one barcode and use it in a variety of contexts, changing up the corresponding data as needed.
  %br/
  %h2
    How to
    %span.hipscan Hipscan
  %p
    Any app capable of scanning QR codes mobile devices will be redirected to your
    = succeed "." do
      %span.hipscan Hipscan
    So go ahead and use your favorite mobile scanner. Or use one of our recommended ones &mdash;
    %a{:href => "http://itunes.apple.com/app/redlaser/id312720263?mt=8"} Redlaser
    for iPhone and
    %a{:href => "https://market.android.com/details?id=com.google.zxing.client.android"} Barcode Scanner
    for Android.
  %br/
  %h2
    Why to
    %span.hipscan Hipscan
  %p
    A
    %span.hipscan Hipscan
    has a variety of uses.  Create a
    %span.hipscan Hipscan
    to tie all of your digital profiles to your offline world.  Or, create a
    %span.hipscan Hipscan
    to track a marketing piece for your small business.  Want to easily send people to your website?
    Link your
    %span.hipscan Hipscan
    to your website and connect people instantly with your URL.
  %p
    %span.hipscan Hipscan
    was built on the premise of uniting your offline and online worlds, and has been used in a variety of uses since.  We would love to hear how you use your
    = succeed "!" do
      %span.hipscan Hipscan
    Write to us
    %a{:href => "mailto:usinghipscan@hipscan.com"} here
