.contact-page

%h3 Contact Hipscan
%p Questions, compliments, criticisms, suggestions.
%br
%br
= form_tag do
  %p
    %b Your email
    (required)
  %p= text_field_tag :email, params[:email], :style => 'width:100%; padding:5px; font-size: 15px'
  %p
    %b Message*
    (required)
  %p= text_area_tag :message, params[:message], :style => 'width:100%; height: 160px; padding:5px; font-size: 15px'
  %div= submit_tag 'Send'