.login-page
  #services
    %h2.center
      %span.hipscan Hipscan
      Professional Services - The future of business marketing!
    %p.center
      %b
        Let’s take your business marketing to the next level with
        %br/
        %span.hipscan Hipscan
        Professional Services.
    %p.center
      We cater to a wide range of marketing campaigns,
      %br/
      which we can customize to fit your specific needs.
    %p.center
      No matter what kind of business or market you’re in, we here at
      %b
        %span.hipscan Hipscan
        Professional Services
      will be able to find creative and highly efficient ways to incorporate
      %span.hipscan Hipscan
      to your marketing campaigns so you’ll get
      %br/
      optimum leverage and maximum returns.
    %iframe{:allowfullscreen => "", :frameborder => "0", :src => "http://www.youtube.com/embed/hdqzQeR6JDk"}
    %br/
    %br/
    %hr/
    %br/
    %p.center Do You Want Professional Custom Videos To Do Your Marketing For You?
    %h2.center
      %span.hipscan Hipscan
      Custom Video Marketing Solution
    %br/
    %p
      %b We can have professional quality custom marketing videos created for you within 10 days or less!
    %p Now you can leverage the awesome power of video for your marketing and deliver it to your target audience using cutting edge technology that’s the future of business marketing.
    %p
      %a{:href => "video.html"} Click here to find out more.
    .cl
    %hr/
    %br/
    %p.center Do You Want Custom Mobile Websites Your Customers Can Visit On Demand?
    %h2.center
      %span.hipscan Hipscan
      Custom Mobile Website Solution
    %br/
    %p
      %b Sign up now and we’ll have your custom website up and running within just 48 hours!
    %p You don’t have to wait blindly for your customers to visit your website only whenever they’re online on their PCs. We can bring your website straight to your customers’ smartphones and other mobile devices whenever they scan your QR code.
    %p
      %a{:href => "mobile.html"} Click here to find out more.
    .cl
    %hr/
    %br/
    %p.center
      Do You Want Maximum Exposure For Your
      = succeed "?" do
        %span.hipscan Hipscan
    %h2.center
      %span.hipscan Hipscan
      Custom Graphic Design Solution
    %br/
    %p
      %b
        Choose from a wide array of media where you want your
        %span.hipscan Hipscan
        printed on!
    %p Give your marketing a much-needed boost with a totally cool twist. Print your Hipscan on flyers, postcards, posters, stickers, stationary, t-shirts, real estate signs, mugs or just about anything you can think of. Use these as giveaways, promo items or for whatever purpose you want and watch your business boom.
    %p
      %a{:href => "design.html"} Click here to find out more.
    .cl
    %hr/
    %br/
    %h2.center
      Bring Your Business To Your Customers Using
      %br/
      Cutting Edge Technology That’s Right At
      %br/
      Their Hands &ndash; Their Smartphones
    %br/
    %p.center
      %b
        Your
        %span.hipscan Hipscan
        (QR code) can be read by scanners that come in the form of smartphone apps.
    %p.center With this new marketing trend, anyone who uses a smartphone is now a potential customer.
    %p.center
      Just imagine how much wider and broader your market will be once you harness the power of
      = succeed "." do
        %span.hipscan Hipscan
    %p.center
      %b The possibilities are endless!
    %h2.center
      Choose The Solution You Want And
      %br/
      Let’s Get Started Now!
