.plan
  %h3 Basic Hipscan
  %h1 Free
  %p For beginner to the world of QR - or those that already have developed marketing destinations for their Hipscan.
  = button_to "Signup today!", new_account_path(:plan => 'Basic')
%ul.plan-bullets
  %li Point your Hipscan to a custom Hipscan profile, text, video, URL or social profile!
  %li Create a Hipscan profile (digital business card)
  %li Basic Analytics
  %li Basic Email Support
%br/
.plan.plan2
  %h3 Business Marketer
  %h1
    %sup> $
    19.00
    %sub /mo
  %p Ready to promote your business? It's all about the engagement after someone scans your Hipscan. Create a custom mobile website for your business - and engage your users right after the scan!
  = button_to "Start My Free Trial", new_account_path(:plan => 'Business')
  %div No Credit Card Required
%ul.plan-bullets
  %li Create a custom HTML5 Mobile Website or Mobile Coupon showcasing your product.
  %li Beautiful templates available for each industry makes it easy to get started.
  %li Advanced analytics panel
  %li Priority Email Support
  %li 30-day free trial
%br/
.plan
  %h3 Product Marketer
  %h1
    %sup> $
    14.00
    %sub /mo
  %p Have multiple products you want to promote? Create a Hipscan for each (up to 30) and track which ones your users are scanning! Instant offline custom marketing collateral is easy to create for each Hipscan.
  = button_to "Start My Free Trial", new_account_path(:plan => 'Product')
  %div No Credit Card Required
%ul.plan-bullets
  %li Create and track up to 30 Hipscan QR codes within a single account. Each product can be tied into a URL or to a video, image or text destination.
  %li Make a custom product call-out card for each product if you desire.
  %li Analytics Broken Down Per Product
  %li 30-day free trial.