.terms-page
  %h2 Privacy Policy
  #policy_text
    %p Your privacy is important to hipscan. This privacy statement provides information about the personal information that hipscan collects, and the ways in which hipscan uses that personal information.
    %br/
    %h2 Personal information collection
    %p hipscan may collect and use the following kinds of personal information:
    %ul
      %li information about your use of this website
      %li information that you provide using for the purpose of registering with the website (including connecting with Facebook)
      %li information about transactions carried out over this website
      %li information that you provide for the purpose of subscribing to the website services (including Facebook) and
      %li any other information that you send to hipscan
    %br/
    %h2 Using personal information
    %p hipscan may use your personal information to:
    %ul
      %li administer this website;
      %li personalize the website for you;
      %li enable your access to and use of the website services;
      %li publish information about you on the website;
      %li send to you products that you purchase;
      %li supply to you services that you purchase;
      %li send you statements and invoices;
      %li collect payments from you; and
      %li send you marketing communications.
    %p Where hipscan discloses your personal information to its agents or sub-contract0ors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement.
    %p In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, hipscan may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
    %br/
    %h2 Securing your data
    %p hipscan will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.
    %p hipscan will store all the personal information you provide on its secure servers.
    %p Information relating to electronic transactions entered into via this website will be  protected by encryption technology.
    %br/
    %h2 Cross-border data transfers
    %p Information that hipscan collects may be stored and processed in and transferred between any of the countries in which hipscan operates to enable the use of the information in accordance with this privacy policy.
    %p In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.
    %p You agree to such cross-border transfers of personal information.
    %br/
    %h2 Updating this statement
    %p hipscan may update this privacy policy by posting a new version on this website.
    %p You should check this page occasionally to ensure you are familiar with any changes.
    %br/
    %h2 Other websites
    %p This website contains links to other websites.
    %p hipscan is not responsible for the privacy policies or practices of any third party.
    %br/
    %h2 Contact
    %br/
    %label hipscan corporate
    %br/
    %label P.O. Box 623
    %br/
    %label San Francisco, CA 94104
    %br/
    %p If you have any questions about this privacy policy or hipscan's treatment of your personal information, please write to:
    %ul
      %li by email to privacy@hipscan.com;
      %li by post to hipscan corporate, P.O. Box 623, San Francisco, CA 94104.
