.contact-page
  .wiki_section
    %h1
      Welcome to the
      %span.hipscan Hipscan
      QR University
    %br/
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "", :src => "http://www.youtube.com/embed/Xdh6epBLi74", :width => ""}
    %p
      %br/
    %p
      %br/
      You want to know about QR Codes&mdash;what they are? How you use them?  How they can help you create a bridge between your online and offline worlds? You’ve come to the right place. The
      %span.hipscan Hipscan
      QR University can answer any questions you might have relating to QR Codes and why it makes sense for your business and your marketing mix.
  %br/
  %h1
    %a{:name => "top"}>
    Choose a Topic
  %br/
  %div
    %a{:href => "#1"} A QR Code Cannot
    %br/
    %a{:href => "#2"} The Definitive Do’s and Don’ts of QR Code Marketing
    %br/
    %a{:href => "#3"} What Are You Telling Them? Where Are You Sending Them?
    %br/
    %a{:href => "#4"} Direct QR Codes Versus All The Other Guys
    %br/
    %a{:href => "#5"} With QR Codes…Size Does Matter
    %br/
    %a{:href => "#6"} Hipscan QR Code Placement
    %br/
    %a{:href => "#7"} Make it Fancy.. But First, Make It Effective
    %br/
    %a{:href => "#8"} QR Best Practices
    %br/
    %a{:href => "#9"} Best QR Code Scanner Apps
    %br/
    %a{:href => "#10"} Inventive QR Code Usage
    %br/
    %a{:href => "#11"} Mobile Optimization
    %br/
    %a{:href => "#12"} QR Code Anatomy
    %br/
    %a{:href => "#13"} QR Code History
    %br/
    %a{:href => "#14"} How Does A Phone Read A QR Code
    %br/
    %a{:href => "#15"} QR Code Who’s Who
    %br/
  .wiki_section
    %h1
      %a{:name => "1"}>
      A QR Code Cannot
    %p QR Codes have the capacity to do a lot for your marketing efforts. They can deliver your clients and customers to your digital world through the information barcode you strategically place on your print ads, direct mail, posters, stickers, business’ cards…even a static cling on your car window.
    %p
      Beyond that…they don’t have the power to make your marketing any more engaging for those you are driving to your website, microsite, blog or online retail outlet. So, if someone is going to take the effort to scan your code and follow up on your marketing efforts, make sure that you reward them with something that’s informative, engaging or entertaining.
      %a{:href => "#top"} Top
  .wiki_section
    %h1
      %a{:name => "2"}>
      The Definitive Do’s and Dont’s of QR Code Marketing
    %p You have a two-dimensional barcode that you can put to use for your marketing efforts. That’s cool…but it’s not enough to make what you do as effective as it can be. While QR Code usage is growing exponentially, they are still fairly new to the U.S. market, and inexperienced users are apt to make common mistakes.
    %p
      %span.hipscan Hipscan
      is on the cutting edge of this technology and, while we’ve been blazing trails, we’ve happened to accumulate a lot knowledge about what works, what works best, and what can blow up in your face when it comes to putting QR Codes to work for you.
      %br/
      = succeed "\u{2019}s" do
        %span.hipscan Hipscan
      QR Code University can help you create more effective and efficient QR Code marketing. Use this resource and don’t hesitate to contact us should you require some expert guidance to get your QR Code campaign up and running.
  .wiki_section
    %h1
      %a{:name => "3"}>
      What Are You Telling Them? Where Are You Sending Them?
    %p The success of any marketing effort lies in your ability to create synergy between the consumer’s first contact with your brand, product or service and the payoff that lies at the end of their journey. In other words, you need to make sure that whoever is following your strategically placed QR Code finds something that approximates their expectations when they scan it.
    %p Whether it’s a promotion, a new product, a limited time offering or simply an engagement opportunity for your brand, what you say on the vehicle used to drive traffic (that’s the print ad, direct mailer, etc. that your QR Code appears) needs to convey what you are going to pay them off with once they reach your online space. Both are equally important, and you need to make sure that they work together.
    %p There are a few general guidelines you can follow to help make your QR Code marketing efforts more powerful, assuming you have the right call-to-action/payoff equation.
    %ul
      %li Dynamic Media (videos, photos and imagery in general) have better holding power and create a stronger emotional connection between consumers and the brand.
    %p
      %br/
  %li Limited-Time Offerings tend to create more of a sense of urgency and draw a greater response. This, of course, is only valid if there is an actual limited-time offer.
  %br/
  %li Free Stuff. People love free stuff. This can be in the form of a download or a piece of tchotchke (cheap crap) or some type of contest with an instant win component.
  %br/
  %li Discounts, Coupons and Special Offers are something that is widely used with larger corporate retailers and service providers. They can motivate people to scan the QR Code…but it better be worth the customer’s time, or it’s not worth yours.
  %br/
  %p What applies best for you brand, product or service depends on what you’re trying to achieve and, obviously, you need to appeal to those that you are trying to reach…your target market. Miss the mark and all your efforts will, most likely, be for naught.
  .wiki_section
    %h1
      %a{:name => "4"}>
      Direct QR Codes Versus All The Other Guys
    %p We wouldn’t be talking to you now if you didn’t have an interest in generating a QR Code for your business. So, forgive us if we don’t take this opportunity to toot our own horn.
    %p
      %span.hipscan Hipscan
      uses what is called a Direct QR Code. There are other forms of QR Codes out there, such as AT&amp;T Barcodes and Microsoft Tag but, along with offering similar capabilities, they also run the risk of losing customer contacts because of incompatibility with today’s mobile devices. After all, the app world is rife and there are a number of QR Code readers available for download. If you want to be read by every QR Code reader…your best bet is using a Direct QR Code.
  .wiki_section
    %h1
      %a{:name => "5"}>
      With QR Codes…Size Does Matter
    %p Big? Small? Medium? When it comes to how large you want your QR Code on your marketing piece to be, the options are endless. In some respects, how big or how small you make the QR Code on your piece boils down to some common sense.
    %p For instance, if you’re going to put your QR Code on a billboard, it better be pretty large because the mobile device needs to be able to pick up the intricacies of the 2D image.
    %p A good general rule to follow is to use one-half inch for every foot of scanning distance. That means some one scanning your QR Code from 10 feet away would, ideally, need a code that is 5 inches.
    %p
      You can currently download your
      %span.hipscan Hipscan
      in three different sizes, big, small, and email (used for email signatures). When creating custom offline pieces we will work with you to create the ultimate size for your marketing collateral.
  .wiki_section
    %h1
      %a{:name => "6"}
      %span.hipscan Hipscan
      QR Code Placement
    %p When it comes to where you place your QR Code…there really is no magic formula. The sizing rule trumps it every time because, if your target market can’t read the code with their phone (or doesn’t see it) it doesn’t matter where you place it. There are, however, some general guidelines that will help you in placing your QR Code and driving more traffic.
    %ul
    %br/
  %li Test your QR Code before you run anything to make sure that it works. Try it on more than one device. This way you’ll know that your QR Code is going to do the job it was intended to do…drive traffic.
  %br/
  %li Clear out space around your QR Code. White space is effective as a marketing tool overall, even more so when you’re trying to make sure that something gets noticed. White space also makes your QR Code more scan-friendly as you don’t have the interference that can occur when you have a cluttered ad.
  %br/
  %li Running your QR Code on a computer or television screen? The only thing you need to make sure of is that you leave the QR Code on the screen for as long as possible. If you’re doing a 30 second spot…leave it on the entire 30 seconds.
  %br/
  %li
    Place it on everything. Big. Small. Medium. No matter the size, a
    %span.hipscan Hipscan
    QR Code will give you a lot of mileage…so use it as much as possible. One of the unique nuances of a
    %span.hipscan Hipscan
    QR Code is that the address your driving customer traffic to is changeable (we’re the only ones that offer that), so you can send customers to wherever you want at any time without having to change the QR Code on your marketing elements in order to do it.
  .wiki_section
    %h1
      %a{:name => "7"}>
      Make It Fancy… But First, Make It Effective.
    %p
      With
      %span.hipscan Hipscan
      you can choose from several colors. You want your QR Code to stand out and color can definitely help that in a black and white QR Code world. Just make sure that the color you pick stands out on whatever the piece is that you’ve created to market your business and drive traffic.
    %p In other words, you wouldn’t want to put a red QR Code on an ad with a red background or anything that would dilute the definition of the code.
  .wiki_section
    %h1
      QR Best Practices &ndash; Five Rules For Effective QR Code Marketing
    %p
      Here at
      %span.hipscan Hipscan
      we have an abundance of experience in QR Code marketing, that we’ve distilled down to specific product offerings that provide the best efficiency and effectiveness for our clients when they enter in to this fairly new technological marketing space.
    %p Now, we’re not saying that you need someone who’s been on the cusp of everything QR Code related to be successful…but it can sure reduce your learning curve. However, we realize there are those people out there who can’t defeat their do-it-yourself mentality, and because we can help but want to help, we’re providing you these 5 Rules for Effective QR Code Marketing. Use them to your advantage…and don’t hesitate to contact Hipscan should you have any other questions or need any type of assistance in your marketing venture.
    %p
      %span.caps RULE
      \#1: You Can’t Make It Big Enough
      %br/
    %p Hey, big makes a splash. Look at all those Audi engineers over there in Japan that put together the largest QR Code in the world. They made it in to the Guinness Book of World Records (and haven’t we all dreamed of that?). But, honestly, the larger you can make your QR Code, the better the chance that those your sending it to are going to be able to scan it…and more easily. As long as they can fit it in their scanning app box, it will read.
    %br/
    %p Here’s a good exercise. Use your smartphone and scan the QR Codes you can find around the house or office. Find out which work best and then take in to consideration the size of each.
    %p
      %span.caps RULE
      \#2: Make Your QR Code Stand Out
      %br/
    %p
      There’s a principle that is seldom heeded in the marketing world…give your marketing material white space. That means that you shouldn’t try to pack every little ounce of information in to one 8.5 × 11 sheet. The cleaner the read, the more apt people are to read it…and they more they’re apt to get out of it. That same principle can be applied to a QR Code. Black on white is best and leave some room around it so that it is easily read. Your customers are only going to work at scanning your QR Code for so long before they give up on it. What happens when you get people giving up on scanning your code? You lose engagements all because you wanted to make everything around the code fancy and full of information. An auxiliary tactic to this is to make your
      %span.caps URL
      as short and simple as possible. Doing this allows for a faster QR Code scan and quicker access to your marketing.
    %p
      %span.caps RULE
      \#3: Put Them Where People Use Their Phones
      %br/
    %p
      Having a billboard with a huge QR Code is not necessarily a bad idea, but for reasons other than the intent of the code. If you’re putting your QR Code on a billboard on a major freeway…what kind of action do you think that code is going to get with traffic whizzing by while drivers fumble to get their scanning app open and read your code…it’s not going to happen.
      %br/
      That’s why you want to put your QR Codes in places where people tend to have their mobile devices and the time to scan the codes. Magazines, newspapers and direct mailers are ideal locations for your QR Code, along with product packaging, on the Internet. Then, there are also novel usage locations like on coffee mugs, t-shirts and business cards.
    %p
      %span.caps RULE
      \#4: Give The Consumer Something Of Value
      %br/
    %p Think about it. Potential consumers are going to take the time to open an app and scan your code. How cheated do they feel when they go to your static web page (especially one that’s not optimized for mobile viewing) or a poorly put together promotional site. They took the time&mdash;make the experience the pay off for taking the time. You can use coupons, relevant content or just plain entertainment to generate customer loyalty. With interactive technology and the web, there are so many unique and compelling ways you can impact your audience. It merely takes a little brain-power to be effective in your marketing efforts and turn scanners into buyers.
    %p
      %span.caps RULE
      \#5: Know Your Market
      %br/
    %p
      At this stage in the QR Code arena, there is a large part of the population who just don’t scan QR Codes (and some that never will). So, before you jump in with both feet, make sure you have a product that is going to appeal to those that will scan a QR Code. Here’s a brief breakdown of QR Code demographics:
      %br/
    %p
      \-25 to 54
      %br/
      \-Mostly Male
      %br/
      \-$50,000+
      %br/
      \-Have A Smart Phone
      %br/
    %p So, if you’re trying to sell a retirement community or adult diapers…might want to look for a new marketing avenue. If, however, you’re trying to sell a new artist, a golf club, an automobile, etc., etc., etc…QR Codes are going to make for some effective sales generating pieces. That is, provided you follow the other 4 rules as well.
  .wiki_section
    %h1
      Best QR Code Scanner App &ndash; Scan It If You’ve Got it
    %p
      When it comes to QR Codes, there are three necessities: you need a smartphone with a camera, Internet access and a scanner app. Go online and type in QR Code Scanner Apps. You’ll find more than enough options to fill a book. But are there some that are better than others? It’s really a matter of the device you use and whether you want to pay for the app or are looking to get quality scanning software on the cheap (free). Here are a few of the scanner apps that we would recommend (and even use here at
      = succeed ")." do
        %span.hipscan Hipscan
    %p
      %b QuickMark
    %p QuickMark is not only a reliable QR Code reader for most phones, but it’s also  one of the easiest to use. For a majority of QR Codes, there is no need to even open the app in order to scan the code as the app will automatically do it for you. From there, the app allows you to navigate a series of options for the QR Code.
    %p Price &ndash; Free when you sign up for an account but $0.99 for iPhone (go figure).
    %p
      %a{:href => "http://www.quickmark.com.tw/En/basic/index.asp"} www.quickmark.com.tw/En/basic/index.asp
    %p
      %b BeeTagg Reader
    %p BeeTagg also works on most mobile devices. You can check their site (as you should with all of our recommended scanner apps) to make sure that your mobile device is compatible. BeeTagg requires you to open the app in order to scan the QR Code but then will offer you the option of scanning the new code or accessing a previously scanned code. To scan a new QR Code from the BeeTagg interface, you simple select the Camera option and the software will do the rest. One of the high points of BeeTag is that it works with a number of code types.
    %p Price &ndash; Free
    %p
      %a{:href => "http://www.beetagg.com"} www.beetagg.com
    %p
      %b ScanLife Reader
    %p
      ScanLife Reader works with the majority of mobile devices and does an excellent job of scanning QR Codes. There are a few things that make it a little less appealing than BeeTag or QuickMark and these issue come to the fore upon first use of the app. You need to enter demographic information about yourself before you can use the app (things like Name, Age, Annual Income,
      %span.caps ZIP
      Code and e-mail address). Your e-mail address can then be used to send data, like contact information, from the QR Code to your e-mail address (which can also be seen as a plus).
    %p Price &ndash; Free
    %p
      %a{:href => "http://www.scanlife.com/en/download-application"} http://www.scanlife.com/en/download-application
    %p
      %b i-nigma
    %p
      i-nigma makes our list because, chances are, if you’ve recently purchased a Japanese smart phone, the reader come in the standard app package. It reads a variety of barcodes, including QR Codes and
      = succeed "," do
        %span.caps UPC
      along with a host of others. i-nigma touts itself as the most widely-used barcode reader on the planet. This has not be confirmed, but judging by the amount of new Japanese smartphones are being grabbed up everyday, it’s probably accurate.
    %p Price &ndash; Free
    %p
      %a{:href => "http://www.i-nigma.com/i-nigmahp.html"} http://www.i-nigma.com/i-nigmahp.html
    %p
      %b Mobiletag
      %br/
    %p Mobiletag is, like our other recommendations, a highly versatile scanner that works with most handhelds. Once again, the reader works in the traditional fashion, where you have to open the app and scan the QR Code manually to get it to take you to the pre-specified location.
    %p Price &ndash; Free
    %p
      %a{:href => "http://www.mobiletag.com/"} http://www.mobiletag.com/
      %br/
  .wiki_section
    %h1
      Inventive QR Code Usage
    %p
      %b Sledgehammer To The Forehead Marketing
    %p Just having a QR Code and links in place doesn’t mean you’re going to make any noise in today’s overcrowded, oversaturated consumer market. It’s just one step along the road to you becoming a marketing genius. So, what does it take to take things a step further? Well, that’s dictated by what type of goals you have, but that won’t stop us from giving you a short rundown on what others have done to kick their QR Code efforts up a notch.
    %p
      %b
        %span.caps GAP
        Japan
      %br/
    %p
      Giving shoppers a percentage off of their purchase is nothing new. In fact, it’s not even worthy of mention, except for the fact that
      %span.caps GAP
      used it in Japan. The reason why it’s noteworthy? Because they took saving money and made it fun…or more fun than normally is…because they allowed people to use their smartphones at the store and save on their purchase.
    %p
      %b Japanese Supermarket
      %br/
    %p Because QR Codes are capable of transmitting so much data to someone who scans the code, why not make it practical for shoppers to use it to guide their shopping experience. One Japanese supermarket took that to heart and placed QR Codes on various produce products that, once scanned, told shoppers the origins of their various prospective purchases. Now that’s fresh thinking.
    %p
      %b Audi
      %br/
    %p Audi, lately, has been known for pushing the limits with their new car designs. They did the same to celebrate 100 years in business. And they did it with a QR Code…a really big QR Code…actually, it was a 159 square meter QR Code. Once again, this idea came out of Japan, and it represents the largest QR Code ever made. Talk about going big.
    %p
      %b Starbucks
      %br/
    %p Just to let you know that it’s not just the Japanese, one of the most innovative (and successful) companies in the United States has taken to QR Code marketing in a big way as well. Starbuck Coffee is not only giving consumers QR Codes to scan for additional information about the coffee they’re consuming, they’re allowing customers to pay for their drinks with one. It’s an extension of a Starbucks card, called a QR Code card and it allows smartphone users to get an online card and then add funds to that card and pay for their drinks simply by flashing their QR Code over the counter.
    %p
      %b Internet Week New York
      %br/
    %p Leave it to the Big Apple to go big with QR Code usage. While not as big as the Audi QR Code, New York used the large dropdown banners in Times Square (along with a bevy of other locations throughout the city) as a resident launching point for getting more information on online city services and applications. The Tony’s and the Department of Transportation were among those that participated in the QR campaign.
    %p
      %b Dubai Hotel
      %br/
    %p Okay…the jury’s out on whether this will work in reality, but there is a company in Dubai’s Studio City that is in the process of building a hotel that will look like a giant QR Code. Since it has to be seen to be believed, we’re including a link to a picture of the dual building structure. Söhne &amp; Partner’s QR Code Building is in the initial modeling and concept drawing stage, but impressive none the less…albeit a bit strange.
    %p
      %a{:href => "http://www.qrme.co.uk/qr-code-news/3-newsflash/190-dubai-qr-code-hotel.html"} http://www.qrme.co.uk/qr-code-news/3-newsflash/190-dubai-qr-code-hotel.html
  .wiki_section
    %h1
      Mobile Optimization
    %p
      %i Go Mobile And Market More Effectively
    %p There are so many ways you can apply QR Codes to your marketing efforts. For more detailed ideas on how you can power up your QR Code marketing machine, look at the What Are You Telling Them, Where Are You Sending Them and the Inventive QR Usage sections.
    %p Here’s another piece of that puzzle. It’s not just what you’re saying, it’s how you’re saying it…or more appropriately, what type of online experience are you delivering to your prospective customers. We’ve talked about this before, and we won’t hesitate to say it again. Effective QR Code marketing is all about the experience.
    %p With that in mind, have you thoroughly researched your options for content delivery. Think about it…you’re connecting with them through a mobile device. The screen size is not always optimal for viewing sites made for PC and Mac consumption. You don’t have a 22-inch monitor and most sites are not naturally configured for best mobile deliver.
    %p
      This is the time to invest. If you’re going to get in on the leading edge of QR Code technology, you should really have a mobile-friendly site. Of course, this doesn’t come without a quick plug for what we are capable of offering you here at
      %span.hipscan Hipscan
    %p We are experts in this technology. We are experts at guiding our clients to dramatic QR Code marketing success. We are experts at providing HTML5 Mobile Website that help maximize impact in the QR Code domain.
    %p
      Along with creating an optimized experience for your customers, we can ensure the effectiveness of your efforts through our guidance and support after your site has been developed. And the cost of providing you with this valuable is much more affordable than you think. Check out the
      %span.hipscan Hipscan
      Business Marketer package to fully optimize your QR Code marketing efforts and your customers mobile engagement.
  .wiki_section
    %h1
      QR Code Anatomy &ndash; QR Code Basic Breakdown
    %p
      Start with a little bit of review. Modern day QR Codes were created by a Denso Wave, a subsidiary of Toyota, as a way to transmit larger amounts of information, as opposed to traditional one-dimensional codes (
      %span.caps> UPC
      ). Since their invent, they’ve evolved in to quite a consumer-based tool. But what makes them tick?
    %p What You’re Scanning
    %p
      QR Codes are not unlike their predecessor, the one-dimensional barcode. They’re simply barcodes in 2D. That means that they run horizontally much like a traditional barcode, but have the added ability to run vertically as well (thus two dimensions).
      %br/
      The QR Codes two dimensional shape allows users to pack more data in the barcode, thus their reason for invent in the first place.
      %br/
      When you scan a QR Code with your phone, what you are scanning is actually a series of letters and numbers that make up a service type. Service types can vary depending on how you want to mobile device to interact with the code and can range from simply driving the device to a web or mobile site to setting up a phone number or invoking an e-mail message.
    %p QR Code Components
    %p
      A QR Code can, essentially, be broken down in to 7 distinct areas, each with its own purpose in the data-rich square.
      %br/
      Finder Pattern
      %br/
      The Finder Pattern is perhaps the most prominent visual aspect of a QR Code and is identified as the boxes that appear in the corners of the code. These help to identify the QR Code.
      %br/
      Timing Pattern
      %br/
      The Timing Pattern sits between two of the Finder Patterns and show up as a series of black and white alternating pixels. This strip is used to determine the coordinate of the QR Code.
    %p Quiet Area
    %p The Quiet Area is necessary in a QR Code in order to establish the readable area of the QR Code and set it apart from other conflicting elements on a page (whether that be graphics, type or a photo). Quite simply, the Quiet Area is the blank space that surrounds the QR Code.
    %p Format Information
    %p All QR Codes come with a mask pattern (standardization) and error-correction elements. These are needed to make sure that the QR Code works with the mobile device. The Format Information is what your mobile device reads first in order to start the decoding process.
    %p Version Information
    %p There are a number of QR Code types on the market today. How much information can be stored in the individual code depends on which version is used. The Version Information works to tell the scanning app what type of QR Code the mobile device is focused on, thus making the code decipherable.
    %p Encoded Data
    %p Your QR Code is mostly made up of Encoded Data. This creates the main central body of the QR Code and holds the information just waiting to be scanned. Once in the lens of your mobile device, your scanner app will then interpret this code.
    %p Alignment Pattern
    %p Because QR Codes are often used on printed materials (such as print ads and direct mailers) they can occasionally become bent or misshapen. The Alignment Pattern is a small square in the encoded data (similar in appearance to the Finder Pattern) that corrects for visual distortions in the QR Code.
  .wiki_section
    %h1
    %p QR Codes seem almost alien in appearance. But the truth is, there were actually born of necessity and grew in to what they are today. But let’s have a little look at the timeline that leads to where you currently are&mdash;learning all about QR Codes and how they can help your marketing efforts.
    %p
      %b 1949 &ndash; Introducing QR’s Daddy…The Bar Code
    %p Every great idea has to have a beginning&mdash;a starting point from which that ideas creation could be possible. QR Codes were born from simple bar codes, the first of which was patented in 1949 by Joseph Woodland. These binary patterns were originally based on Morse Code with their original application used by the railroads to identify freight cars&mdash;their destinations and their cargo. Of course, with any new invention, the bar code proved problematic for the railroads. Why? Railcars tend to bounce slightly…the bar code scanners didn’t.
    %p
      %b 1974 &ndash; Commercial Success…UPC
    %p
      We all know
      %span.caps UPC
      (Universal Product Code), that is unless were under 10 and have yet to learn about them. The
      %span.caps UPC
      represents the modern ancestor of the QR Code and was, not surprisingly (well, maybe a little) used by Wrigley on packages of chewing gum. Of course, today,
      %span.caps UPC
      is on pretty much every product you buy and makes those self-checkout aisles at the grocery store so darn efficient. This little piece of product reading ease was adapted by automobile makers, just as is was by every other major industry that had products it wanted to track and sell.
    %p
      %b 1994 &ndash; The Rise of the QR Code…Denso Wave
    %p
      Everything good (and fun) electronically seems to come out of Japan these days. So, it would be only natural that a Japanese company would make the bar code something more than just a product identifier. Enter Denso Wave, a subsidiary of Toyota. They were in need of something that could be used to transfer larger chunks of data than a one-dimensional
      %span.caps UPC
      could. So, they thought, why not make it two-dimensional? And that’s what they did. It also goes a long way towards explaining why people in Japan don’t look at QR Codes like something from outer space.
    %p
      %b Present Day &ndash; QR Code Boom
    %p QR Codes are as common as a pair of chop sticks in Japan these days. But, as with most ingenious ideas, that commonality has grown around the world and continues to grow at a staggering pace. Next to Japan, the United States is now the second largest consumer of QR Codes, which means it’s time to make haste and get started by putting them to use for your business.
  .wiki_section
    %h1
      How Does a Phone Read a QR Code &ndash; The Nuts and Bolts of Bringing Your Online World to Consumers
    %p How a modern phone goes about reading and then connecting a data-imbedded square to a site or coupon readout isn’t probably something that most people would even give a second thought about. After all, if it works it works…no need for overly technical explanation. But, in case you have a burning desire to understand the basic process behind the scan and send technology, here it is.
    %p
      %b You Need A Smartphone
      %br/
      Most phones with a camera have the capability of reading a QR Code. Depending on what type of phone you have, it may just take a little more work for you to get from taking a picture of the QR Code to linking in to the address that the code is directing you to. To make life easier on you, and eliminate the stress headaches and wasted time, iPhones, Andriod-based and Blackberry’s are the recommended handsets for scanning.
    %p
      %b You Need A Reader
      %br/
      Many modern day mobile devices have QR Code readers already built in and that will be more and more expected as QR Code usage rises. If you don’t have a QR Code scanner application on your phone, you’ll need to get one. There are dozens of apps available to smartphone owners&mdash;some are free and others cost a couple of bucks. Look online and you should be able to find one that works with your phone and effectively pull up codes. By the way…to make sure that you’re keeping up with our data-charged world, Nielsen says that over 50% of Americans will have a smartphone by 2012.
      %br/
      For more information on QR Code scanning apps, check out the Best Apps of QR Code Scanning section.
    %p
      %b You Need Internet Access
      %br/
      Data plan, WiFi, whatever it is that gets you online, in an absolute necessity for being able to follow up on a QR Code as the marketer or person planned it. Obviously, since these external QR Codes are linked to the online world, having the ability to go online is only logical.
    %p
      %b Point and Go
      %br/
      Once you open up your QR Code scanner application, it may simply do the work for you. Other times, you’ll be required to actually take a picture. It’s all dependant on the type of mobile device you’re using and the scanner app you have. Play around with a few to see what works best with you phone and app. Plus, you shouldn’t have to worry about having a ready supply of QR Codes to scan. You can find them in most magazines, newspapers, mailers…and, of course, on the Internet.
      %br/
      One word of advice: Your QR Code reader works within the limitations of your camera lens and the clarity of the QR Code. You may have to move the device around a bit to find the optimum spot for reading each individual code.
  .wiki_section
    %br/
    %h1
      QR Code Who’s Who &ndash; QR Codes Are Exploding Coast-to-Coast
    %br/
    QR Codes aren’t just for the Japanese anymore. Not only have they invaded Europe, but they are rapidly becoming a integral part of mainstream American culture. And it’s because of this: QR Code create a new level of marketing interactivity…or personal interaction…a technological talking point if you will. That is enough to propel both regular joes, small mom-and-pops and big, multinational corporations to get in on and create their own unique buzz. Here’s a list of some of the more innovative companies putting QR Codes to use in their marketing efforts. For a look at some of the unique ways QR Codes are being applied for marketing purposes, go to the Inventive QR Code Usage section.
    %p
      %span.caps ABC
    %p Absolut Vodka
    %p Amazon
    %p Arizona Diamondbacks
    %p AT&amp;T
    %p Audi
    %p Axe
    %p Bacardi
    %p Barnes &amp; Noble
    %p
      Best Buy
      %br/
      Better Homes and Gardens
    %p Calvin Klein
    %p Car &amp; Driver Magazine
    %p
      %span.caps CBS
    %p Coca-Cola
    %p Conde Nast Traveler Magazine
    %p Delta Airlines
    %p Facebook
    %p Ford
    %p
      %span.caps GAP
    %p
      %span.caps GMC
    %p
      %span.caps HBO
    %p Home Depot
    %p Jaguar
    %p Kraft Foods
    %p Lion’s Gate
    %p Loreal
    %p Macy’s Department Store
    %p Microsoft
    %p Mountain Dew
    %p
      %span.caps NBC
    %p Nestle
    %p New York City
    %p New York Post
    %p Nike
    %p Starbucks
    %p Time Warner Cable
    %p Toyota
    %p United States Military
    %p Verizon
    %p Vibe
    %p Washington Post