#product
  .hr
  %br
  %h2 Hipscan provides awesome products featuring your code.
  %br
  %table
    %tr
      %td
        .product= image_tag 'products/sticker.jpg'
  %br
  %p
    Ready to go shopping? Get your Hipscan codes to print. Increase customer engagement. Reach mobile users now! 
  %br
  .store_button= link_to image_tag('buttons/button-store.png', 'data-hover' => '/images/buttons/button-store_selected.png'), 'http://store.hipscan.com', :target => '_blank'