.orange-hr
%table  
  %tr
    %td
      %h1 Calling Brand Ambassadors!
      .ambassador
      .description
        Are you passionate about 
        %br
        Hipscan? Want to help us get the 
        %br
        word out and get rewarded for
        %br
        doing so?
      .signup-button= link_to 'Apply now!', ambassador_path
    %td.line &nbsp;
    %td
      .orange-title Why Hipscan?
      .why-hipscan
      .description
        Hipscan's proprietary technology lets you own 
        %br
        customer engagement.
        %br
        Whether you are a multi-chain enterprise looking
        %br
        to reach your mobile users, or a consultant that
        %br
        wants a simple digital vCard - Hipscan has the
        %br
        mobile solution right for you!
        %br
        Need help figuring it out? No problem, call us or
        %br 
        shoot us an 
        = mail_to APP_CONFIG[:contact_email], 'email'
    %td.line &nbsp;
    %td
      %h1 The Hipscan Store
      .store
      .description
        Ready to go shopping? Get your
        %br
        Hipscan codes to print. 
        %br
        Increase customer engagement. Reach 
        %br
        mobile users now!
        %br
      .signup-button= link_to 'Go shopping!', "http://store.hipscan.com"