.ambassador-form
  %h1 If the below describes you, you would make a great brand ambassador for Hipscan!

  %ul
    %li
      Have a lot of friends
    %li
      The social butterfly in your group
    %li
      A great communicator
    %li
      Active in social media (facebook, twitter, google+, etc)
    %li
      Willing to spend a few hours to network with people
    %li
      A self starter with great sales skills
    %li
      A natural born marketer

  %div{:style => 'margin: 20px 0;'}
    %h2 If chosen to be a Hipscan brand ambassador - you will rewarded for spreading the QR love - with cool prizes, trips, and more!

#wufoo-m7x3w7
  Fill out my <a href="http://hipscan.wufoo.com/forms/m7x3w7">online form</a>.

:javascript
  var m7x3w7;(function(d, t) {
  var s = d.createElement(t), options = {
  'userName':'hipscan', 
  'formHash':'m7x3w7', 
  'autoResize':true,
  'height':'1082',
  'async':true,
  'header':'show'};
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
  try { m7x3w7 = new WufooForm();m7x3w7.initialize(options);m7x3w7.display(); } catch (e) {}};
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');