- content_for :meta do
  <meta name="Description" content="Hipscan believes in maintaining your privacy and our privacy policies are extremely user-friendly." />
  
#privacy_policy
  %h1 Privacy Policy


  <div id="policy_text">
  <span>Your
  privacy is important to hipscan. This privacy statement provides
  information about the personal information that hipscan collects, and
  the ways in which hipscan uses that personal information.</span><br>
  <b>Personal information collection</b><br>
  <span>
  hipscan may collect and use the following kinds of personal information:<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	information about your use of this website<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;● information that you
  provide using for the purpose of registering with the website
  (including connecting with Facebook)<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	information about transactions carried out over this website<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;● information that you
  provide for the purpose of subscribing to the website services
  (including Facebook) and<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	any other information that you send to hipscan<br>
  </span>
  <b>Using personal information</b><br>
  <span>
  hipscan may use your personal information to:<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	administer this website;<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	personalize the website for you;<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	enable your access to and use of the website services;<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	publish information about you on the website;<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	send to you products that you purchase;<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	supply to you services that you purchase;<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	send you statements and invoices;<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	collect payments from you; and<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	send you marketing communications.<br>
  </span><br>
  <span>Where
  hipscan discloses your personal information to its agents or
  sub-contractors for these purposes, the agent or sub-contractor in
  question will be obligated to use that personal information in
  accordance with the terms of this privacy statement.</span><br><br>
  <span>In
  addition to the disclosures reasonably necessary for the purposes
  identified elsewhere above, hipscan may disclose your personal
  information to the extent that it is required to do so by law, in
  connection with any legal proceedings or prospective legal proceedings,
  and in order to establish, exercise or defend its legal rights.</span><br>
  <b>Securing your data</b><br>
  <span>hipscan
  will take reasonable technical and organisational precautions to
  prevent the loss, misuse or alteration of your personal information.</span><br><br>
  <span>hipscan will store all the personal information you provide on its secure servers.</span><br><br>
  <span>Information relating to electronic transactions entered into via this website will be  protected by encryption technology.</span><br>
  <b>Cross-border data transfers</b><br>
  <span>Information
  that hipscan collects may be stored and processed in and transferred
  between any of the countries in which hipscan operates to enable the
  use of the information in accordance with this privacy policy.</span><br><br>
  <span>In
  addition, personal information that you submit for publication on the
  website will be published on the internet and may be available around
  the world.</span><br>
  <span>You agree to such cross-border transfers of personal information.</span><br>
  <b>Updating this statement</b><br>
  <span>hipscan may update this privacy policy by posting a new version on this website.</span><br>
  <span>You should check this page occasionally to ensure you are familiar with any changes.</span><br>
  <b>Other websites</b><br>
  <span>This website contains links to other websites.</span><br>
  <span>hipscan is not responsible for the privacy policies or practices of any third party.</span><br>
  <b>Contact</b><br>
  <label>
  </label><p style="font-weight: bold; font-size: 14px; font-family: Arial,'BreeRegular',sans-serif;">hipscan corporate</p>
  <p style="font-weight: bold; font-size: 14px; font-family: Arial,'BreeRegular',sans-serif;">P.O. Box 623</p>
  <p style="font-weight: bold; font-size: 14px; font-family: Arial,'BreeRegular',sans-serif;">San Francisco, CA 94104</p>
  <br>
  <span>
  If you have any questions about this privacy policy or hipscan's treatment of your personal information, please write to:<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	by email to privacy@hipscan.com; or<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●	by post to hipscan corporate, P.O. Box 623, San Francisco, CA 94104.<br>
  </span><br>
  </div>
