- if content_for :meta
  = yield :meta
- else
  <meta name="Description" content="Hipscan helps creating a unique link and allows the user to to edit the information that is passed on to someone else, who scans the barcode." />

<meta name="Keywords" content="free qr code generator | qr code marketing | hipscan.com" />
<meta name="copyright" content="http://hipscan.com" >
<meta name="document-distribution" content="Global" />
<meta name="robots" content="index, follow" />
<meta name="Googlebot" content="index,follow" />
<meta name="revisit-after" content="1 days" />

<meta name="google-site-verification" content="4dzm5_JZ7awmshf3-Kxoamg15GsoUPoqy4_EHLgutz0" />

<META name="y_key" content="0566033b09538c70" />
<meta name="msvalidate.01" content="035078670676D5B7F95EAC7391012DD3" />

<meta property="og:title" content="hipscan" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="http://hipscan.castellucci.us/images/rails.png" />
<meta property="og:site_name" content="hipscan" />
<meta property="fb:admins" content="1267856439" />
