- if content_for :meta
  = yield :meta
- else
  <meta name="Description" content="Are you looking for free qr code generator, just sign up with our 30 day free trial offer. You can contact Hipscan for qr code marketing for the website. We offer a wide range of marketing campaigns to fit your specific needs." />

<meta name="Keywords" content="free qr code generator, QR Code Marketing" />
<meta name="copyright" content="http://www.hipscan.com" >
<meta name="author" content="http://www.hipscan.com" >
<meta name="Charset" content="other" >
<meta name="rating" content="general" >
<meta name="distribution" content="Global" />
<meta name="robots" content="index, follow" />
<meta name="Googlebot" content="index,follow" />
<meta name="revisit-after" content="7 days" />

<meta name="google-site-verification" content="4dzm5_JZ7awmshf3-Kxoamg15GsoUPoqy4_EHLgutz0" />

<META name="y_key" content="0566033b09538c70" />
<meta name="msvalidate.01" content="035078670676D5B7F95EAC7391012DD3" />

<meta property="og:title" content="hipscan" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="http://hipscan.castellucci.us/images/rails.png" />
<meta property="og:site_name" content="hipscan" />
<meta property="fb:admins" content="1267856439" />
