- if field_value(:logo)
  .header
    = link_to image_tag(field_value(:logo), :style => 'height: 50px; margin: 10px auto;'), template_path(@qr)

.content{:style => 'margin-bottom: 150px; padding-top: 40px;'}
  %h1
    - if page_field_value(:thank_you, :message).present?
      = page_field_value(:thank_you, :message)
    - else
      Thank You.
#footer 
  Powered by<br>
  = image_tag 'hipscan-logo.png', :style => "width: 70px"