<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>hipscan</title>
<link href="style/style.css" rel="stylesheet" type="text/css">
</head>

<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">
<div id="main">
	<div id="header1"><a href="index.html"><img src="images/logo.png" width="218" height="57" alt=""></a></div>
    <div id="content1">
    <div class="title-outer1">
    <div class="title">Now You Know Whats<br>
Possible! Contact A Hipscan <br>
Representative And Get Your <br>
Personalized Site Up &amp;<br> 
Running!</div>
    </div>
    <div class="h1">
    <div class="img"><a href="tel:1-855-438-4477"><img src="images/phone-icon.png" alt="" align="left"></a></div>
    <a href="tel:1-855-438-4477">1-855-438-4477</a></div>
    <div class="h1">
    <div class="img"><a href="mailto:marketing@hipscan.com"><img src="images/mail-icon.png" alt="" align="left"></a></div>
    <a href="mailto:marketing@hipscan.com">marketing@hipscan.com</a></div>
    <div class="h1">
    <div class="img"><a href="http://www.hipscan.com/"><img src="images/safari.png" alt="" align="left"></a></div>
    <a href="http://www.hipscan.com/">www.hipscan.com</a></div>
  </div>
<div id="footer">
		<div class="previous flot-left" style="width:40%;"><a href="#">Previous</a></div>
        <div class="buttons flot-right" style="width:40%"><a href="#">Next</a></div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>
