<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>hipscan</title>
<link href="style/style.css" rel="stylesheet" type="text/css">
</head>

<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">
<div id="main">
	<div id="header1"><a href="index.html"><img src="images/logo.png" width="218" height="57" alt=""></a></div>
    <div id="content1">
    <div class="title-outer">
    <div class="title">Sample Listing Page</div>
    </div>
    <div class="round-box">
    <div class="titlebar">
    <div class="right">$2,500</div>
    31 Wheaton Road</div>
    <div class="img-box">
    <div class="left-img"><img src="images/img.jpg" width="93" height="93" alt=""></div>
    <div class="right-text">
    <h3>Washington Depot CT</h3>
    <p>- 1.5 Bath, 2 Bed</p>
    <p>- Building Size: 1564 SQ. Feet</p>
    <p>- Litchfield Hills</p>
    <p>- Sotheby's International Realty</p>
    </div>
    <div class="clear"></div>
    </div>
    </div>
    <div class="round-box">
    <div class="titlebar">
    <div class="right">$2,500</div>
    31 Wheaton Road</div>
    <div class="img-box">
    <div class="left-img"><img src="images/img.jpg" width="93" height="93" alt=""></div>
    <div class="right-text">
    <h3>Washington Depot CT</h3>
    <p>- 1.5 Bath, 2 Bed</p>
    <p>- Building Size: 1564 SQ. Feet</p>
    <p>- Litchfield Hills</p>
    <p>- Sotheby's International Realty</p>
    </div>
    <div class="clear"></div>
    </div>
    </div>
    </div>
<div id="footer">
		<div class="previous flot-left" style="width:40%;"><a href="#">Previous</a></div>
        <div class="buttons flot-right" style="width:40%"><a href="#">Next</a></div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>
