<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>hipscan</title>
<link href="style/style.css" rel="stylesheet" type="text/css">
</head>

<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">
<div id="main">
	<div id="header1"><a href="index.html"><img src="images/logo.png" width="218" height="57" alt=""></a></div>
    <div id="content1">
    <div class="title-outer">
    <div class="title">Sample Agent Detail Page</div>
    </div>
    <div class="center"><img src="images/header-im.jpg" alt=""></div>
    <h1>Adam Wong</h1>
    <p>residential sales agent</p>
    <p><a href="mailto:adamwong@mcgrath.com.au"><span>e</span>adamwongmcgrath.com.au</a></p>
    <P><a href="tel:02-9908-6052"><span>t</span>02 9908 6052</a></P>
    <P><a href="tel:0403-315-349"><span>m</span>0403 315 349</a></P>
    <h2><a href="#">Download agent details</a></h2>
    <p><span>- specialty areas</span></p>
    <p><span></span>Artarmon</p>
    <p><span></span>Chatswood</p>
    <p><span></span>Willoughby</p>
    <p><span>office</span> Northbridge, Sydney Metropolitan</p>
    </div>
<div id="footer">
		<div class="previous flot-left" style="width:40%;"><a href="#">Previous</a></div>
        <div class="buttons flot-right" style="width:40%"><a href="#">Next</a></div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>
