<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>hipscan</title>
<link href="style/style.css" rel="stylesheet" type="text/css">
</head>

<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">
<div id="main">
	<div id="header1"><a href="index.html"><img src="images/logo.png" width="218" height="57" alt=""></a></div>
    <div id="content1">
    <div class="title-outer">
    <div class="title">Sample Detail Page</div>
    </div>
    <div class="center"><img src="images/gallery-im.jpg" alt=""></div>
    <div class="right">$2,500</div>
    <h2>31 Wheaton Road</h2>
    <p>1.5 Bath, 2 Bed<br>
Building Size: 1564 SQ. Feet<br>
Litchfield Hills<br>
Sotheby's International Realty</p>
<div class="detail-outer">
<div class="detail-inner flot-left"><div class="img1"><a href="#"><img src="images/plans-icon.png" alt=""></a></div>
<a href="#">Floor Plans</a></div>
<div class="detail-inner flot-right"><div class="img1"><a href="#"><img src="images/map.png" alt=""></a></div><a href="#">View on map</a></div>
<div class="clear"></div>
<div class="detail-inner flot-left"><div class="img1"><a href="#"><img src="images/description.png" alt=""></a></div><a href="#">Full description</a></div>
<div class="detail-inner flot-right""><div class="img1"><a href="#"><img src="images/send-to-icon.png" alt=""></a></div><a href="#">Send to a friend</a></div>
</div>
<div class="clear"></div>
    </div>
    
<div id="footer">
		<div class="previous flot-left" style="width:40%;"><a href="#">Previous</a></div>
        <div class="buttons flot-right" style="width:40%"><a href="#">Next</a></div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>
